@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

meter::-webkit-meter-bar {
    background: none;
    border: 1px solid silver;
    border-radius: 16px;
    height: 10px;
}

meter::-webkit-meter-optimum-value {
    background: green;
    border-radius: 16px;
    height: 8px;
}
